[project]
	description = testing to check
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/vissus77
[access "refs/for/refs/*"]
	read = group user/vissus77
	push = group user/vissus77
	label-Code-Review = -2..+2 group user/vissus77
	label-Verified = -1..+1 group user/vissus77
	rebase = group user/vissus77
	removeReviewer = group user/vissus77
	submit = group user/vissus77
[access "refs/heads/*"]
	read = group user/vissus77
	create = group user/vissus77
	push = +force group user/vissus77
	pushMerge = group user/vissus77
[access "refs/tags/*"]
	push = group user/vissus77
	push = +force group user/vissus77
